/** @format */

.modal {
  display: none;
  position: absolute;
  background: #b16868;
  padding: 10px;
  border-radius: 10px;
  left: 40%;
  top: 40%;
  .close-wrap {
    span {
      padding: 4px;
      border-radius: 2px;
      &:hover {
        background: rgba(175, 2, 2, 0.623);
        transition: background 0.5s ease;
      }
    }
  }
  .card-heading {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }
  .card-body {
    input {
      width: 100px;
      margin: 5px;
      border: none;
      padding: 4px;
    }
  }

  &.is-active {
    display: block;
  }
}
