/** @format */

.Filter-list-content {
  background-color: white;
  margin: 10px;
  display: none;
  ul {
    margin: 10px;
    list-style: none;
    padding: 0;
  }
}
.is-active {
  display: flex;
}
